[submodule "LibSL-small"]
	path = LibSL-small
	url = https://github.com/sylefeb/LibSL-small.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/QuantStack/xtensor
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/QuantStack/xtensor-blas
[submodule "xtensor-python"]
	path = xtensor-python
	url = https://github.com/QuantStack/xtensor-python
[submodule "xtl"]
	path = xtl
	url = https://github.com/QuantStack/xtl
